<div class="template">
    <app-title [custom]="true">
        <div class="conter">
            <div class="search">搜索商品，了解更多</div>
            <div class="classify">
                <p class="icon"></p>
                <p class="text">分类</p>
            </div>
        </div>
        <div class="right"><p class="more"></p></div>
    </app-title>
    <main class="main">
        <div class="shop-header">
            <img src="http://oss.citic-mall.com/91003894-ecc3-4d45-8209-3cb2a1e2a07b" alt="" class="shop-header-bg">
            <div class="shop-header-mask"></div>
            <div class="shop-header-info">
                <a class="shop-header-login" style="float:left">
                    <img src="http://oss.citic-mall.com/2a20a81c-74f7-43e3-b11a-f280c93568a7" alt="">
                </a>
                <div class="shop-header-contact">
                    <p class="name">正大食品旗舰店</p>
                    <p class="score">5分</p>
                </div>
                <div class="shop-header-collect">
                    <div class="collect-btn">
                        <p class="top"><span></span>关注</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="shop-nav">
            <ul>
                <li class="active">
                    <p class="icon"></p>
                    <p class="text">店铺首页</p>
                </li>
                <li>
                    <p class="num">73</p>
                    <p class="text">全部商品</p>
                </li>
            </ul>
        </nav>
    </main>
</div>