<div class="template" style="background: #fff">
    <app-title custom="true">
        <div class="conter">
            <div class="srcbox">
                <p class="content">商品</p>
            </div>
            <span class="icon"></span>
            <input type="text" name="keyName" placeholder="搜索商品，了解更多">
        </div>
        <div class="right" (click)="searchClick()">搜索</div>
    </app-title>
    <main class="main">
        <div class="hotSearch">
            <h2 class="hotSearchTitle">热搜</h2>
            <ul class="hotSearchList">
                <li>111</li>
                <li>222</li>
                <li>333</li>
            </ul>
        </div>
    </main>
</div>