<div class="template">
    <main class="main">
        <div class="user-perinfo">
            <div class="user-perinfo-img">
                <img src="http://oss.citic-mall.com/static-resources/h5/img/mx.jpg" alt="">
            </div>
            <div class="user-set-up"></div>
        </div>
        <div class="my-order">
            <div class="my-order-all retainbb">
                <div class="next">查看全部订单<span></span></div>
                <p>我的订单</p>
            </div>
            <div class="my-order-box retainbb">
                <dl>
                    <dt></dt>
                    <dd>待付款</dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd>待发货</dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd>待收货</dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd>待评价</dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd>退货/售后</dd>
                </dl>
            </div>
        </div>
        <ul class="user-list retainbt mt2">
            <li class="user-item retainbb">
                <p class="right"></p>           
                <p class="text"><span></span>御持城订单</p>
            </li>
        </ul>
        <ul class="user-list retainbt mt2">
            <li class="user-item retainbb">
                <p class="right"></p>           
                <p class="text"><span style="background-image: url(http://oss.citic-mall.com/static-resources/h5/img/2x/icon-coupon@2x.png)"></span>优惠券</p>
            </li>
            <li class="user-item retainbb">
                <p class="right"></p>           
                <p class="text"><span style="background-image: url(http://oss.citic-mall.com/static-resources/h5/img/2x/icon_integral@2x.png)"></span>乐益通积分</p>
            </li>
        </ul>
        <ul class="user-list retainbt mt2">
            <li class="user-item retainbb">
                <p class="right"></p>           
                <p class="text"><span style="background-image: url(http://oss.citic-mall.com/static-resources/h5/img/2x/icon-collection@2x.png)"></span>我的收藏</p>
            </li>
            <li class="user-item retainbb">
                <p class="right"></p>           
                <p class="text"><span style="background-image: url(http://oss.citic-mall.com/static-resources/h5/img/2x/icon-record@2x.png)"></span>浏览记录</p>
            </li>
        </ul>
        <ul class="user-list retainbt mt2">
            <li class="user-item retainbb">
                <p class="right"></p>           
                <p class="text"><span style="background-image: url(http://oss.citic-mall.com/static-resources/h5/img/2x/icon-consult@2x.png)"></span>我的咨询</p>
            </li>
            <li class="user-item retainbb">
                <p class="right"></p>           
                <p class="text"><span style="background-image: url(http://oss.citic-mall.com/static-resources/h5/img/2x/icon-view@2x.png)"></span>我的评价</p>
            </li>
        </ul>
        <ul class="user-list retainbt mt2">
            <li class="user-item retainbb">
                <p class="right"></p>           
                <p class="text"><span style="background-image: url(http://oss.citic-mall.com/static-resources/h5/img/2x/service.png)"></span>联系客服</p>
            </li>
        </ul>
    </main>
</div>